<div class="container">
  <div class="stopwatch-motion-container">
    <%= render "timestamps/stop_button", timesheet: @timesheet, timestamp: @timestamp %>

    <div class="stopwatch-form">
      <%= render 'task_description', timesheet: @timesheet, timestamp: @timestamp %>
    </div>
  </div>

</div>
