<!--<nav class="navbar-minimal">-->
<!--  <div class="container">-->
<!--    <div class="navbar-tools">-->
      <%# if user_signed_in? && Timestamp.last.present? && Timestamp.last.end_time.present? %>
        <%#= link_to new_timesheet_timestamp_path(Timestamp.last.timesheet), class: "btn-medieval" do %>
<!--          <i class="fas fa-clock"></i> Start Stopwatch-->
        <%# end %>
      <%# end %>
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->
